.community {
  width: 100%;
  padding-bottom: 5%;
  background: url('../../images/friends.jpg') no-repeat center;
  background-size: cover;
  overflow: auto;

  .section__title,
  .section__description {
    color: #fff;
    text-shadow: 0 0 3px rgb(10, 10, 10);
  }

  &__details {
    width: 31%;
    float: left;
    margin-right: 5%;
    padding: 2%;
    background: #fff;

    p {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 15px;
      font-weight: normal;
    }

    &__image {
      width: 17%;
      float: left;
      max-width: 398px;
      margin-right: 15px;
    }
  }

  &__proud {
    width: 56%;
    float: left;
    padding: 2%;
    background: #fff;
    margin-bottom: 40px;
    
    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .community__details,
  .community__proud {
    width: 96%;
    height: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 3%;
    text-align: center;
  }

  .community__details__image {
    display: block;
    width: 40%;
    float: none;
    margin: 0 auto;
  }
}
